@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
  <div class="row" style='margin-bottom: 20px;'>
    <div class="col-sm" id = 'plant1'>
      <h6>Plant 1</h6>
      <img src="images/plant_white.jpg" alt="Plant 1" style = "height:300px;width:300px;">
      <button type="button" id = "plant1-btn" class="btn btn-primary">Water</button>
      <button type="button" id = "plant1-stop" class="btn btn-danger">Stop</button>
      <div id = 'status1'>Not Watered Yet</div>
    </div>
    <div class="col-sm">
      <h6>Plant 2</h6>
      <img src="images/plant_white.jpg" alt="Plant 1" style = "height:300px;width:300px;">
      <button type="button" id = "plant2-btn" class="btn btn-primary">Water</button>
      <button type="button" id = "plant2-stop" class="btn btn-danger">Stop</button>
      <div id = 'status2'>Not Watered Yet</div>
    </div>
    <div class="col-sm">
      <h6>Plant 3</h6>
      <img src="images/plant_white.jpg" alt="Plant 1" style = "height:300px;width:300px;">
      <button type="button" id = "plant3-btn" class="btn btn-primary">Water</button>
      <button type="button" id = "plant3-stop" class="btn btn-danger">Stop</button>
      <div id = 'status3'>Not Watered Yet</div>
    </div>
    <div class="col-sm">
      <h6>Plant 4</h6>
      <img src="images/plant_white.jpg" alt="Plant 1" style = "height:300px;width:300px;">
      <button type="button" id = "plant4-btn" class="btn btn-primary">Water</button>
      <button type="button" id = "plant4-stop" class="btn btn-danger">Stop</button>
      <div id = 'status4'>Not Watered Yet</div>
    </div>
    <div class="col-sm">
      <h6>Plant 5</h6>
      <img src="images/plant_white.jpg" alt="Plant 1" style = "height:300px;width:300px;">
      <button type="button" id = "plant5-btn" class="btn btn-primary">Water</button>
      <button type="button" id = "plant5-stop" class="btn btn-danger">Stop</button>
      <div id = 'status5'>Not Watered Yet</div>
    </div>
  </div>
</div>


